.PortfolioPageContentsWrapper
{
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: .8em;
     -moz-column-gap: .8em;
          column-gap: .8em;
          
    display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 5.5rem;
  	position: relative;
	height: 600px;
	width: 100%;
}

/* left side */

.PortfolioTextWrapper
{
	width: 100%;
	height: 100%;
	background-color: gray;
	padding: 0 5%;
}

.PortfolioTextWrapper p
{
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	border: 2px darkgray solid;
	font-size: 1rem;
	padding: 15 0 0 0;
}

.TextSubHeaders
{
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: .8em;
     -moz-column-gap: .8em;
          column-gap: .8em;

  display: flex;
}

#Awards
{
	width: 50%;
	background-color: rgba(0.0, 0.0, 0.0, 0.3);
	border: 2px darkgray solid;
	color: white;
	padding: 0 0 20 0;
}

#Links
{
	width: 50%;
	background-color: rgba(0.0, 0.0, 0.0, 0.3);
	border: 2px darkgray solid;
	color: white;
	padding: 0 0 20 0;
}

#Awards li, #Awards h4, #Links li, #Links h4
{
	padding: 0 0 0 20;
}

#Links li a
{
	text-decoration: underline;
	color: white;
}

.TextSubHeaders li
{
	 font-size: .65rem;
}

.TextSubHeaders h4
{
	font-size: .8rem;
}

/* right side */

.PortfolioVidImgWrapper
{
	width: 100%;
	height: 100%;
	background-color: white;
}

.ImageSlide
{
	background-color: gray;
	padding: 50px 0;
}

.ImageSlide img
{
	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	
  	width: 300px;
	height: 200px;
  	
}

.ImageSlide iframe
{
	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	
  	width: 300px;
	height: 200px;
	background-color: white;	
}