html, body
{
	width: 100%;
}

#Video iframe, #Video img
{
	position:absolute;
	top:0;
	left:0;
	width:100%; 
	height:100%;
	border-radius: 0px;
	
	/* half of the overall container height */
	max-height: 400px;
}

#Video img
{
	border: 2px white solid;
}

#Info, #Links
{
	width: 50%;
	height: 100%;
}

#Links a
{
	text-decoration: underline;
	color: white;
}

ul
{
	list-style-type: none;
}

/* SET THE MAX HEIGHT OF TEXT IN THE RESPONSIVE CSS */
/* MAKE IT 36 PX past 1150 or 1125 */
ul, li
{
	 margin: 0; 
	 padding: 0;
	 text-align: left;
	 white-space:normal;
	 font-size: 1.3rem;
	 color: white;
	 padding: 0 3% 0 3%;
}

hX
{
	font-size: 2rem;
	font-weight: bold;
	text-decoration: underline;
	color: white;
	padding: 0 5% 0 5%;
	line-height: 85px;
}

.PortfolioWrapper, .ParallaxImage
{
	width: 90%;
	padding: 0 5% 0 5%;
}

.PortfolioPiece
{

	border-radius: 0px;
}

#Video
{
	position:relative; 
	padding-top: 56%;
	width: 50%;
	float: left;
}

#InfoLink
{
	float: left;
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
          
    margin-left: 5px;
    display: flex;
  	height: 114.25%;
  	background-color: rgba(0.0, 0.0, 0.0, 0.5);
  	border: 2px white solid;
  	width: 48.8%;
}

.PortfolioHolder
{
	height: 100%;
	width: 100%;
}

.TopPortion
{
	width: 100%;
	height: 50%;
	margin-top: 5.5rem;
	
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
          
    display: flex;
}

#Description
{
	color: white;
	height: 50%;
	width: 96.4%;
	border: 2px white solid;
	background-color: rgba(0.0, 0.0, 0.0, 0.3);
	font-size: 2.4vw;
	padding: 1.5%;
}

#Description span
{
	color: orange;
}

.BottomPortion
{
	width: 100%;
	height: 50%;
	position: relative; 
	margin-top: 3.5rem;
}

/* Reference for old layout */
/*.PortfolioPageContentsWrapper
{
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: .8em;
     -moz-column-gap: .8em;
          column-gap: .8em;
          
    display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 5.5rem;
  	position: relative;
	height: 600px;
	width: 100%;
}

.PortfolioTextWrapper
{
	width: 100%;
	height: 100%;
	background-color: gray;
	padding: 0 5%;
}

.PortfolioTextWrapper p
{
	background-color: rgba(0, 0, 0, 0.3);
	color: white;
	border: 2px darkgray solid;
	font-size: 1rem;
	padding: 15 0 0 0;
}

.TextSubHeaders
{
	-webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-gap: .8em;
     -moz-column-gap: .8em;
          column-gap: .8em;

  display: flex;
}

#Awards
{
	width: 50%;
	background-color: rgba(0.0, 0.0, 0.0, 0.3);
	border: 2px darkgray solid;
	color: white;
	padding: 0 0 20 0;
}

#Links
{
	width: 50%;
	background-color: rgba(0.0, 0.0, 0.0, 0.3);
	border: 2px darkgray solid;
	color: white;
	padding: 0 0 20 0;
}

#Awards li, #Awards h4, #Links li, #Links h4
{
	padding: 0 0 0 20;
}

#Links li a
{
	text-decoration: underline;
	color: white;
}

.TextSubHeaders li
{
	 font-size: .65rem;
}

.TextSubHeaders h4
{
	font-size: .8rem;
}

.PortfolioVidImgWrapper
{
	width: 100%;
	height: 100%;
	background-color: white;
}

.ImageSlide
{
	background-color: gray;
	padding: 50px 0;
}

.ImageSlide img
{
	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	
  	width: 300px;
	height: 200px;
  	
}

.ImageSlide iframe
{
	display:block;
  	margin-left:auto;
  	margin-right:auto;
  	
  	width: 300px;
	height: 200px;
	background-color: white;	
}*/