@media only screen 
and (min-width : 800px) {
	#Description
	{
		font-size: 1.1rem;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1400px) {
	.ParallaxImage img
	{
		height: 50%;
	}
	
	.HeaderName
	{
		top: 35%;
	}
	
	.HeaderTitle
	{
		top: 40%;
	}
	
	.PortfolioPiece p, .PortfolioPiece h4, .PortfolioPiece h3
	{
		font-size: 1.5vw;
	}
	
	.ResumeSubSection .SkillHeader p {
		font-size: 1.2vw;
	}
	
	.ResumeContainer {
		height: 750px;
	}	
	
	#textWrapper p {
    	font-size: 25px;
	}
	
	.ParallaxImage img
	{
		 width: 100%;
    	height: auto;
	}
	
	.ParallaxImage
	{
		text-align: center;
	}
}
	
@media only screen 
and (min-width : 1200px) {
	#ProgrammingLanguages h2 {
		font-size: 1.1rem;
	}
	
	#Description
	{
		font-size: 1.5vw;
	}
	
	li
	{
		font-size: 1.4rem;
	}
	
	.PortfolioPiece p, .PortfolioPiece h4, .PortfolioPiece h3
	{
		font-size: 1.5vw;
	}
}

@media only screen 
and (min-width : 1800px) {
	#Description
	{
		font-size: 1.6rem;
	}
	
	li
	{
		font-size: 1.5rem;
	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 825px) {
	
	.HeaderName
	{
		font-size: 30px;
	}
	
	.HeaderTitle
	{
		font-size: 15px;
	}
}

@media only screen 
and (max-width : 850px) {
	.TopPortion
	{
		-webkit-columns: 1;
    	-moz-columns: 1;
    	columns: 1;
	}
	
	#Video
	{
		width: 100%;
	}
	
	#infoLink
	{
		display: none;
	}
}

@media only screen
and (max-width: 850px){
	hx
	{
		font-size: 1.8rem;
	}
	
	li
	{
		font-size: 1.1rem;
	}
}

@media only screen
and (max-width: 650px){
	.dividerText a
	{
		font-size: 15px;
		float: left;
		padding: 0 0 0 1%;
		margin-top: 20;
		bottom: 0px;
		position: inline-block;
	}

	.MenuHeader a
	{
		height: 60%;
		font-size: 25px;
		padding-top: .3rem;
		padding-right: .3rem;
		padding-bottom: .3rem;
		padding-left: .3rem;
		top: calc((100% - 50%)/2);
	}
	
	.dividerText 
	{
		font-size: 30px;
	}
	
	.dividerText
	{
		top: 25%;
	}
	
	.MenuHeader, .DividerHeader
	{
		height: 3.5rem;
	}
	
	.ParallaxImage img
	{
		margin-top: 3.5rem;
	}
	
	.SeniorReelContainer
	{
		margin-top: 3.8rem;
	}
	
	.PortfolioContainer, .ResumeContainer, .ContactContainer
	{
		margin-top: 3rem;
	}
	
	.HeaderName
	{
		font-size: 25px;
		top: 20%;
		white-space: nowrap;
	}
	
	.HeaderTitle
	{
		font-size: 12px;
		top: 25%;
		white-space: nowrap;
	}
	
	.PortfolioContainer
	{
	  -webkit-columns: 2;
		 -moz-columns: 2;
			  columns: 2;
	  -webkit-column-gap: .8em;
		 -moz-column-gap: .8em;
			  column-gap: .8em;
		  
		position: relative;
		margin-top: 3rem;
		padding: 10 5 .5 5;
	}
	
	.PortfolioPiece
	{
		height: 600px
	}
	
	.PortfolioContainer {
		-webkit-columns: 1;
		-moz-columns: 1;
		columns: 1;
		-webkit-column-gap: .8em;
		-moz-column-gap: .8em;
		column-gap: .8em;
		position: relative;
		padding: 10 5 .5 5;
	}
	
	.ResumeContainer {
		-webkit-columns: 1;
		-moz-columns: 1;
		columns: 1;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		height: unset;
	}
	
	.ResumeSubSection .SkillHeader p
	{
		font-size: 3vw;
	}
	
	#textWrapper p
	{
		font-size: 13px;
	}
	
	.PortfolioPiece p{
		font-size: 5vw;
	}
	
	.PortfolioPiece h4, .PortfolioPiece h3 
	{
		font-size: 3vw;
	}
	
	#aboutMe
	{
		width: 100%;
	}
	
	#skillExperiences
	{
		width: 100%;
	}
	
	#ProgrammingLanguages h2 {
		font-size: 5vw;
	}
	
	#skillExperiences
	{
		height: 720px;
	}
	
	#resumePhoto {
		height: 100px;
		width: 100px;
		margin-top: .5rem;
	}
	
	#aboutMe
	{
		height: 450px;
	}
}

/*@media only screen
and (max-width: 750px)
{
	.PortfolioContainer
	{
	  -webkit-columns: 2;
		 -moz-columns: 2;
			  columns: 2;
	  -webkit-column-gap: .8em;
		 -moz-column-gap: .8em;
			  column-gap: .8em;
		  
		position: relative;
		margin-top: 5rem;
		padding: 10 5 .5 5;
	}
	
	.PortfolioPiece
	{
		height: 400px
	}
}*/

/* Smartphones (landscape) ----------- */
@media only screen 
and (max-width : 500px) {
	
	.HeaderName
	{
		font-size: 25px;
		top: 15%;
		
	}
	
	.HeaderTitle
	{
		font-size: 12px;
		top: 19%;
	}
	
	.PortfolioContainer
	{
	  -webkit-columns: 1;
		 -moz-columns: 1;
			  columns: 1;
	  -webkit-column-gap: 0em;
 	  -moz-column-gap: 0em;
	  column-gap: 0em;
		  
		position: relative;
		margin-top: 3rem;
	}
	
	.PortfolioPiece
	{
		height: 600px
	}
	
	.PortfolioPiece
	{
		border: 3px solid #241663;
	}
	
	.PortfolioPiece p
	{
		font-size: 5vw;
	}
	.PortfolioPiece h4, .PortfolioPiece h3 
	{
		font-size: 5vw;
	}
	
	#socialMediaPics img
	{
		height: 70%;
		padding: 5;
	}
}

/* iPhone 4 / 5S */
@media only screen 
and (max-width : 330px) {
	.MenuHeader a, .dividerText 
	{
		font-size: 20px;
	}
	
	.dividerText
	{
		top: 25%;
	}
	
	.MenuHeader, .DividerHeader
	{
		height: 2.9rem;
	}
	
	.ParallaxImage img
	{
		margin-top: 2.9rem;
	}
	
	.PortfolioContainer, .ResumeContainer, .ContactContainer
	{
		margin-top: 2.9rem;
	}
} 

/* css hack to target ONLY safari */
@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
 .ResumeContainer {
		-webkit-columns: 1;
		-moz-columns: 1;
		columns: 1;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		height: unset;
	}
	
	.ResumeSubSection .SkillHeader p
	{
		font-size: 1.5rem;
	}
	
	#textWrapper p
	{
		font-size: 13px;
	}
	
	#aboutMe
	{
		width: 100%;
	}
	
	#skillExperiences
	{
		width: 100%;
	}
	
	#ProgrammingLanguages h2 {
		font-size: 3rem;
	}
	
	.Language 
	{
		height: 50px;
		width: 50px;
	}
	
	#skillExperiences
	{
		height: 1100px;
	}
	
	#resumePhoto {
		height: 200px;
		width: 200px;
		margin-top: .5rem;
	}
	
	#aboutMe
	{
		height: 450px;
	}
	
	.Language
	{
		height: 100px;
		width: 100px;
	}
 }
 
@supports (-ms-ime-align: auto) {
	@media only screen
	and (min-width: 620px){
	  .ResumeContainer {
			-webkit-columns: 1;
			-moz-columns: 1;
			columns: 1;
			display: flex;
			align-items: stretch;
			flex-wrap: wrap;
			height: unset;
		}
	
		.ResumeSubSection .SkillHeader p
		{
			font-size: 1.5rem;
		}
	
		#textWrapper p
		{
			font-size: 13px;
		}
	
		#aboutMe
		{
			width: 100%;
		}
	
		#skillExperiences
		{
			width: 100%;
		}
	
		#ProgrammingLanguages h2 {
			font-size: 3rem;
		}
	
		.Language 
		{
			height: 50px;
			width: 50px;
		}
	
		#skillExperiences
		{
			height: 1200px;
		}
	
		#resumePhoto {
			height: 200px;
			width: 200px;
			margin-top: .5rem;
		}
	
		#aboutMe
		{
			height: 450px;
		}
	
		.Language
		{
			height: 100px;
			width: 100px;
		}
		
		#engineSkill
		{
			margin-top: 75px;
		}
	}
}
