	.emoteCustomWrapper
	{
		width:100%; 
		height:60%; 
		position:fixed; 
		bottom:0%; 
		background-color: lightgray;
	}
	
	#hatHolder {
	  	text-align: center;
	  	list-style-type: none;
	  	padding: 0;
	  	-webkit-column-count: 3; 
	  	-moz-column-count: 3;
	  	column-count: 3;
	  	-moz-column-fill: balance;
	  	column-fill: balance;
	  	margin-right: auto; margin-left: auto;
	  	margin-top: 2vh;
	}
	
	#currentHat
	{
		display: inline;
		position: relative;
		width: 100px;
		height: 100px;
		margin-top: 20px;
	}
	
	.hatContainer
	{
		 margin-bottom: 10px;
	}
	
	#hatHolder li input
	{
		height: 9vh;
		width: 9vh;
		border-radius: 0;
		position: relative;
		/*border: 4.5px solid #2A2A2A;*/
	}
	
	#hatHolder li
	{
		-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
	}
	
	.colorpicker {
    	background-color: #222222;
    	border-radius: 5px 5px 5px 5px;
    	box-shadow: 2px 2px 2px #444444;
    	color: #FFFFFF;
    	font-size: 12px;
    	position: absolute;
    	width: 460px;
	}

	#picker {
		cursor: crosshair;
		/*left: 25%;*/
		padding-left: 0;
    	padding-right: 0;
    	margin-left: auto;
    	margin-right: auto;
    	display: block;
	}

	.split h1
	{
		text-align: center;
		font-size: 3vw;
	}
	
	#hatHolder li input {
    	outline: none;
    	box-sizing: border-box;
	}

	@media screen and (max-device-width: 480px){
	
			#picker {
				cursor: crosshair;
				bottom: 2vh;
				position: absolute;
				border: 0;
			}
			
			/*button {
    			outline: initial;
			}*/
			
			#hatHolder {
			  text-align: center;
			  list-style-type: none;
			  padding: 0;
			  -webkit-column-count: 2; 
			  -moz-column-count: 2;
			  column-count: 2;
			  -moz-column-fill: balance;
			  column-fill: balance;
			  margin-right: auto; margin-left: auto;
			  margin-top: ;
			}
			
			#hatHolder li input
			{
				height: 9vh;
				width: 9vh;
				border-radius: 0;
				position: relative;
			}
			
			.hatContainer
			{
				 margin-bottom: 15px;
			}
			
			.split h1
			{
				text-align: center;
				font-size: 5vw;
			}
	}

	.controls {
		float: right;
		margin: 10px;
	}
	
	#currentHatHolder
	{
		text-align: center;
	}
	
	.controls > div {
		border: 1px solid #2F2F2F;
		margin-bottom: 5px;
		overflow: hidden;
		padding: 5px;
	}
	
	.controls label {
		float: left;
	}
	
	.controls > div input {
		background-color: #121212;
		border: 1px solid #2F2F2F;
		color: #DDDDDD;
		float: right;
		font-size: 10px;
		height: 14px;
		margin-left: 6px;
		text-align: center;
		text-transform: uppercase;
		width: 75px;
	}

	.split {
	  height: 60%;
	  width: 50%;
	  position: fixed;
	  z-index: 1;
	  overflow-x: hidden;
	  bottom:0%; 
	  padding-top: 20px;
	}

	.customEmoteRightSide
	{
		right: 0;
		
		background-image: url("WebsiteArt/character.png");
		background-position: top; /* Center the image */
  		background-repeat: no-repeat; /* Do not repeat the image */
  		background-size: 100% 100%;
	}

	.customEmoteLeftSide
	{
		left: 0;
	}