/*
Tyler Chapman
Resume website
2/22/18
Blog CSS
*/
body{
	background-color: gray;
	/*background-image: url("https://i.imgur.com/35CMAeF.png") no-repeat center center fixed;	*/
	margin: 0; padding: 0; 
	background-size: 100% 100%;
     
        background-size: cover;
	font-family: Verdana,sans-serif;
	
}
a {
	text-decoration: none; 
}
a:link
{
	color: black;
}

a:visited
{
	color: black;
}

a:hover
{
	color: orange;
}

a:active
{
	color: orange;
}

.blog a
{
	color: orange;
}

.homepage{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -180px;
}

.blogText
{
	color:white;
	position: relative;
	top: 100px;
}

.games{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -120px;
}

.resume{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -50px;
}	

.blog{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 30px;
}

.contact{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 85px;
}

td { 
	color:black;
}

th{
	text-align:left;
	color:black;
}

table{
	color:black;
}

div.headerPic img{
	width: 100%;
    height: 100px;
}	

@media only screen and (max-width: 1106px), only screen and (min-width: 949px){
div.headerPic img{
	width: 100%;
    height: 80px;
}	

.homepage{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -180px;
}

.games{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -120px;
}

.resume{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -50px;
}	

.blog{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: 30px;
}

.contact{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: 85px;
}

}

@media only screen and (min-width: 1107px){
div.headerPic img{
	width: 100%;
    height: 120px;
}

.homepage{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -180px;
}

.games{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -120px;
}

.resume{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -50px;
}	

.blog{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 30px;
}

.contact{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 85px;
}
}

@media only screen and (max-width: 698px) {
div.headerPic img{
	width: 100%;
    height: 60px;
}	

.homepage{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -180px;
}

.games{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -120px;
}

.resume{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -50px;
}	

.blog{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 30px;
}

.contact{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 85px;
}
}

@media only screen and (max-width: 645px) {  
div.headerPic img{
	width: 100%;
    height: 50px;
}

.homepage{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -180px;
	font-size: 14px;
}

.games{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -120px;
	font-size: 14px;
}

.resume{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -50px;
	font-size: 14px;
}	

.blog{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 30px;
	font-size: 14px;
}

.contact{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 85px;
	font-size: 14px;
}
}

@media only screen and (max-width: 550px) {
div.headerPic img{
	width: 100%;
    height: 40px;
}

.homepage{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -125px;
	font-size: 10px;
}

.games{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -80px;
	font-size: 10px;
}

.resume{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -30px;
	font-size: 10px;
}	

.blog{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 25px;
	font-size: 10px;
}

.contact{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 65px;
	font-size: 10px;
}
}

@media only screen and (max-device-width: 480px) {

.number{

	top: 250px;
	left: 50%;
	margin-left: -80px;
	font-size: 20px;	
}

	img{
		max-width: 100%;
	}
}

