/*
Tyler Chapman
Resume website
2/22/18
Homepage CSS
*/
body{
	background-color: black;
	/*background-image: url("https://i.imgur.com/35CMAeF.png") no-repeat center center fixed;	*/
	margin: 0; padding: 0;
	background: url('https://i.imgur.com/MoJAKIGr.png') repeat fixed; 
	background-size: 100% 100%;
     
    background-size: cover;
	font-family: Verdana,sans-serif;
	
}


a {
	text-decoration: none; 
}

a:link
{
	color: black;
}

a:visited
{
	color: black;
}

a:hover
{
	color: orange;
}

.homepage a
{
	color: orange;
}

.homepage{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -180px;
}

.games{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -120px;
}

.resume{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -50px;
}	

.blog{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 30px;
}

.contact{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 85px;
}

.picture
{
	position: relative;
	top: 80px;
	margin-left: -20px;
	
}

.hello
{
	color:white;
	position: relative;
	top: 85px;
	margin-left: -20px;
}

.firstPara a
{
	color:orange;
}

.firstPara a:hover
{
	color:white;
	text-decoration: underline;
}

.firstPara
{
	position: relative;
	color:gray;
	top: 110px;
	margin-left: -20px;
}


td { 
	color:black;
}

th{
	text-align:left;
	color:black;
}

table{
	color:black;
}

div.headerPic img{
	width: 100%;
    height: 100px;
}	

@media only screen and (max-width: 1106px), only screen and (min-width: 949px){
    
.tableone{
	position: absolute;
	top: 1100px;
	left: 50%;
	margin-left: -460px;
}

.tabletwo{
position: absolute;
	top: 1100px;
	left: 50%;
	margin-left: -70px;
}
	
.tablethree{
	position: absolute;
	top: 1100px;
	left: 50%;
	margin-left: 220px;
	 
    }
    
    div.headerPic img{
	width: 100%;
    height: 80px;
}	

.homepage{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -180px;
}

.games{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -120px;
}

.resume{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: -50px;
}	

.blog{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: 30px;
}

.contact{
 	position: absolute;
	top: 9px;
	left: 50%;
	margin-left: 85px;
}

}

@media only screen and (min-width: 1107px){
.tableone{
	position: absolute;
	top: 1100px;
	left: 50%;
	margin-left: -540px;
}

.tabletwo{
	position: absolute;
	top: 1100px;
	left: 50%;
	margin-left: -70px;
}
	
.tablethree{
	position: absolute;
	top: 1100px;
	left: 50%;
	margin-left: 300px;
	}
	
div.headerPic img{
	width: 100%;
    height: 120px;
}

.homepage{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -180px;
}

.games{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -120px;
}

.resume{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -50px;
}	

.blog{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 30px;
}

.contact{
 	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: 85px;
}
}

@media only screen and (max-width: 948px) {
    
.tableone{
	position: absolute;
	top: 1080px;
	left: 50%;
	margin-left: -420px;
}
.tabletwo{
	position: absolute;
	top: 1080px;
	left: 50%;
	margin-left: -70px;
}
	
.tablethree{
	position: absolute;
	top: 1080px;
	left: 50%;
	margin-left: 200px;
	 
    }
    
}

@media only screen and (max-width: 913px) {
    
.tableone{
	position: absolute;
	top: 1050px;
	left: 50%;
	margin-left: -380px;
}
.tabletwo{
	position: absolute;
	top: 1050px;
	left: 50%;
	margin-left: -70px;
}
	
.tablethree{
	position: absolute;
	top: 1050px;
	left: 50%;
	margin-left: 180px;
	 
    }
}

@media only screen and (max-width: 870px) {
    
.tableone{
	position: absolute;
	top: 1030px;
	left: 50%;
	margin-left: -350px;
}

.tabletwo{
	position: absolute;
	top: 1030px;
	left: 50%;
	margin-left: -70px;
}
	
.tablethree{
	position: absolute;
	top: 1030px;
	left: 50%;
	margin-left: 160px;
	 
    }
}

@media only screen and (max-width: 830px) {
    
.tableone{
	position: absolute;
	top: 1010px;
	left: 50%;
	margin-left: -350px;
}

.tabletwo{
	position: absolute;
	top: 1010px;
	left: 50%;
	margin-left: -70px;
}
	
.tablethree{
	position: absolute;
	top: 1010px;
	left: 50%;
	margin-left: 160px;
	 
    }
}

@media only screen and (max-width: 698px) {
    
.tableone{
	position: absolute;
	top: 950px;
	left: 50%;
	margin-left: -330px;	
}

.tabletwo{
	position: absolute;
	top: 950px;
	left: 50%;
	margin-left: -70px;
	
}
	
.tablethree{
	position: absolute;
	top: 950px;
	left: 50%;
	margin-left: 150px;
	
	 
    }
    
div.headerPic img{
	width: 100%;
    height: 60px;
}	

.homepage{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -180px;
}

.games{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -120px;
}

.resume{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -50px;
}	

.blog{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 30px;
}

.contact{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 85px;
}

div.firstPara p
{
	font-size: 12px;
}
}

@media only screen and (max-width: 645px) {
    
.tableone{
	display: none;	
}

.tabletwo{
	display: none;	
}
	
.tablethree{
	display: none;	 
    }
    
div.headerPic img{
	width: 100%;
    height: 50px;
}

.homepage{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -180px;
	font-size: 14px;
}

.games{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -120px;
	font-size: 14px;
}

.resume{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -50px;
	font-size: 14px;
}	

.blog{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 30px;
	font-size: 14px;
}

.contact{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 85px;
	font-size: 14px;
}
}

@media only screen and (max-width: 550px) {
    
.tableone{
	display: none;	
}

.tabletwo{
	display: none;	
}
	
.tablethree{
	display: none;	 
    }
    
div.headerPic img{
	width: 100%;
    height: 40px;
}

.homepage{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -125px;
	font-size: 10px;
}

.games{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -80px;
	font-size: 10px;
}

.resume{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -30px;
	font-size: 10px;
}	

.blog{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 25px;
	font-size: 10px;
}

.contact{
 	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: 65px;
	font-size: 10px;
}

div.firstPara p
{
	font-size: 10px;
}
}

@media only screen and (max-width: 500px) {
	div.firstPara p
{
	font-size: 9px;
}
}

@media only screen and (max-device-width: 480px) {

.number{

	top: 250px;
	left: 50%;
	margin-left: -80px;
	font-size: 20px;	
}

	img{
		max-width: 100%;
	}
}

@media only screen and (min-width: 644px){
	.tablemain{
		display: none;
	}
}