/* makes the iframe fit to the size of the screen*/
iframe {
  border: 0;
  height: 100%;
  width: 100%;
  position:fixed;
  top: 0px;
  left: 0px;
}

/* hides the scrollbar - -should we have it?*/
html {
  overflow:   scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('https://www.freeiconspng.com/uploads/search-icon-png-2.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -moz-column-fill: balance;
  column-fill: balance;
  display:inline-block;
}

ul
{
	font-size: 0;
}

#myUL li img{
  height: 50vw;
  width: 50vw;
  /*background: tomato;*/
  line-height: 25vw;
  font-size: 20vw;
  margin-right: -4px;
  position: relative;
   display: inline-block;
   word-break:break-all; /* wrap extended text*/
   -webkit-column-count: 2; /* Chrome, Safari, Opera */
   -moz-column-count: 2; /* Firefox */
   column-count: 2;
}

.container {
    position: relative;
    width: 100%;
    margin-bottom: 0px; 
    display:inline-block;
}

.container img{
    vertical-align: bottom;
    max-width: 100%;
    display: inline-block;
    border-radius:50% 50% 50% 50%;
}

.username {
    position: relative;
    top: 0;
    bottom: 20;
    left: 0;
    right: 0;
    font: 0/0 a;
}

.viewerCount
{
	/* need to figure out how to get an eye picture next to text*/
	position: relative;
    top: 20;
    bottom: 0;
    left: 0;
    right: 0;
    font: 0/0 a;
    color:gray;
}

.username:before, viewerCount:before {
    content: ' ';
    display: inline-block;
    height: 100%;
    vertical-align: middle;   
}

.username a, .viewerCount p {
    font: 16px/1 Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    text-align:center;
    width: 100%;
    padding: 1% 0;
    text-decoration: none; 
}

.username a
{
	font-weight: bold;
}

.username a:visited
{
	color:black;
}

.username a:hover
{
	color:orange;
}

.username a:link
{
	color:black;
}

/*
Create a box around link if hover
#myUL li a:hover:not(.header) {
  background-color: #fee;
}*/